doctype html
html
	head
		title coral reef component editor
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/style/componenteditorstyle.css')
		script(data-main="javascript/main" src="javascript/include/require.js")
	body
		#editor {}
		#sceneview
		#message hello!