doctype html
html
	head
		title coral reef
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/style/style.css')
	body
		#content !{page}